* {
    padding: 0%;
    margin: 0%;
}
body {
    font-family:sans-serif;
    letter-spacing: 1px;
}
 
h1,
h2,
h3 {
    text-align:left;
    margin-left: 15px;
}
      

ol,
ul {
  list-style: none;
  display: flex;
  
}
.navbar {
    background: white;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
   }

   
   .navbar ol li {
       height: inherit;
   }
   .navbar a {
       color: #2b2b2b;
       text-decoration: none;
       height: inherit;
        display: flex;
        align-items: center;
        padding: 0 10%;
        width: 100%
    }
    ol,
    li:hover {
        color:grey;
        align-items: center;
    } 
.menu {
    display: flex;
    height: inherit;
}
/* Color-lab: #f7b617
Color gris (footer): #2b2b2b  */
/* hero */
.hero {
   background-image: url(../src/labcar/img/taxi.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center bottom;
   height: 100vh;

}
.conviertete,
.registrate{
    background-color:  white;
    height: 10%;
    width: 30%;
    border-radius: 4px;
    color:black;
}
.bien {
    color:white;
    text-align: center;
  
   }
   .bien:after {
      content: "____________";
     
      
   }
   .bien:before {
     content: "____________";
   }
   .disfruta-viaje {
       background-color: #f7b617;
       width: 40%;
       height: 50%;
       float: right;
       margin-top: 5%;
       color:white;
       text-align: center;
       font-size: 15px;
       
      
   }
   section div h1 {
       padding-top: 10%
   }
   section div p {
       padding: 3%;
   }





 /* informacion */
 .informacion {
  
    background-color:  #f7b617;
    background-size: cover;
    height: 90vh;
 }
 .info-contenido {
    
     width:80%;
     position: relative;
     height: 70vh;
     top: 10%;
     border: 1px solid white;
     border-left: none;
     color: white;
     text-align: right;
     
 }

#texto {
   padding-top: 5%;
   float:right;
   text-align:left;
   width: 50%;

}

.celular {
     width: 30%;
     padding-top: 5%;
     margin-right: 10%;
    
}

/* conduce */

.conduce {
 background-image: url(../src/labcar/img/conduce.jpg);
  background-size:cover;
 background-repeat: no-repeat;
 background-position: center;
 height:80vh;
}

#conduce-texto {
    width: 35%;
    height: 55%;
    float: right;
    color:white;
    background: rgba(17, 17, 17, 0.7);
     font-size:15px;
    text-align: left;
    
    
   }
  section div h3 {
      padding-top: 10%;
  }

.conviertete-btn{
    background-color:  #f7b617;
    width:40%;
    height: 15%;
    border-radius: 4px;
    margin-left: 25%;
    margin-top: 10%;
    font-family: 'Segoe UI';
    color:white;
    
}
button {
background-color:none;
border-bottom: none;
border: none;
outline: none;


}
/* tarifas */

.tarifa{
    background: #f7b617;
    width: 100%;
    height: 80vh;
}
.map {
    float: right;
    margin-right: 10%;
    margin-top:5%;
 }

 .ubicacion {
     display:block;
 }



 /* footer */
 .footer {
     background: #2b2b2b;
     width: 100%;
     height: 80vh;
 }
 .alinear1 li {
     vertical-align: middle;
     color:white;
 }


 